.cartwidget {
    img {
        width: 50px;
    }
    p {
        position: absolute;
        top: 0;
        margin-left: 2%;
        background: red;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 2px;
    }
}