.navbar {
    display: flex;
    margin-bottom: 50px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.linked {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
}

.logo{
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
}
.linked:hover {
    border-color: #646cff;
}

.linked:focus,
.linked:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}